.navbarbg {
    height: 55px;
    background-color: white;
  }
  
  input.searche {
    height: 36px;
    max-width: 500px;
    background-color: #eef3f8;
    border: 0;
  }
  
  input.searche::placeholder {
    font-size: 14px;
    color: grey;
    background-image: url("assets/search-solid.svg");
    background-repeat: no-repeat;
    background-size: 8%;
  }
  input#publish-bar {
      font-size: 14px;
      background-image: url("assets/edit-regular.svg");
      background-repeat: no-repeat;
      background-size: 4%;
      background-position-x: 20px;
      background-position-y: center;
  }
  
  .menutext {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin-top: 5px;
    font-weight: lighter;
  }
  
  .menutext:hover {
    color: black;
  }
  
  button.mediatext {
    color: #5f5f5f;
  }
  
  button.mediatext:hover {
    color: #5f5f5f;
  }
  
  .mediatext {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #5f5f5f;
  }
  
  i {
    color: gray;
    margin-top: 8px;
  }
  i:hover {
    color: black;
  }
  
  input.content {
    border-radius: 40px;
    height: 45px;
  }
  input.content::placeholder {
    font-weight: bolder;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/bootstraplinkedinclone/assets/edit-regular.svg);
    background-repeat: no-repeat;
    background-size: auto;
  }
  
  div.card {
    border-radius: 10px;
  }
  
  .header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
  }
  
  .view {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #5f5f5f;
  }
  
  .categories {
    font-size: 13px;
    font-weight: bold;
    color: #0a66c2;
  }
  
  li {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
  }
  
  .link {
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #5f5f5f;
  }
  
  button.ref {
    color: white;
  }
  
  button.ref:hover {
    color: #5f5f5f;
  }
  
  .postphoto {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .posttext {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-left: 8px;
  }