* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
 
  ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style-type: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  ul li:nth-child(odd) { background: #f9f9f9; }
  
  ul li:hover { background: #ddd; }
  
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .header {
    background-color: #288d77;
    padding: 30px 40px;
    color: white;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
  }
  
  img { background-color: white; }
  
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  #headertext { font-family: 'Raleway', sans-serif; }
  input {
    margin: 0;
    border: none;
    border-radius: 15px 0px 0px 15px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  .button {
    padding: 10px;
    width: 25%;
    background: #d4d4d1;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0px 15px 15px 0px;
  }
  
  .button:hover { background-color: #bbb; }
  #buttonTheme:focus {
    outline: none;
    box-shadow: none;
  }

  #alert { visibility: hidden; }